<!DOCTYPE html>
<html>

<body>
  <p>Buen dia, {{ record.approved_by.name }}</p>
  <p>Se solicita aprobacion del siguiente pago: </p>


  Número: <b>{{ record.number }}</b><br>
  Fecha de creación: <b> {{record.date }}</b><br>
  Valor: <b>{{ record.amount_to_pay }}</b><br>
  Tercero: <b> {{record.party.name}}</b><br>
  Descripción: <b>{{ record.description }}</b><br>
  <br>

  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px; width:100%;">
    <thead bgcolor="#d5d8dc">
      <tr>
        <th>CONCEPTO</th>
        <th>MONTO</th>
      </tr>
    </thead>
    <tbody>
      {%for line in record.lines:%}
      <tr>
        <td align="left" valign="top" style="padding:10px;">
          {{line.detail}}
        </td>
        <td align="right" valign="top" style="padding:10px;">
          {{line.amount}}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>


  <p>-------------------------<br>
    {{ record.company and record.company.party.name }}<br>
  </p>
</body>

</html>
